{% extends 'layout.html' %}
{% block content %}
<!-- SLIDER -->
            <div class="main-slider bottom-50">
                <div id="slider" class="nivoSlider">
                    <img src="{{ url_for('static', filename='images/content/slide1.jpg') }}" alt="" title="#htmlcaption">
                    <img src="{{ url_for('static', filename='images/content/slide2.jpg') }}" alt="" title="#htmlcaption1">
                    <img src="{{ url_for('static', filename='images/content/slide3.jpg') }}" alt="" title="#htmlcaption2">
                <div id="htmlcaption" class="nivo-html-caption">
                    <span>Картинка 1</span><a href="#"></a>
                </div>

                <div id="htmlcaption1" class="nivo-html-caption">
                    <span>Et harum quidem rerum facilis est et expedita distinctio</span><a href="#"></a>
                </div>

                <div id="htmlcaption2" class="nivo-html-caption">
                    <span>Temporibus autem quibusdam et aut</span><a href="#"></a>
                </div>

                <div id="preloader"></div>
            </div>

<!-- CONTENT -->

            <div class="divider-text bottom-50">

<!-- RECENT WORK -->

                <span>Recent Work<img src="{{ url_for('static', filename='images/dot.gif') }}" alt=""><a href="portfolio.html">All Projects</a></span>
            </div>

            <ul id="portfolio" class="inner-960 bottom-15 clearfix">
                <li class="col1-4">
                    <div class="project">
                        <div class="proj-img">
                            <a href="{{ url_for('static', filename='images/content/img220x146-1.jpg') }}" class="prettyPhoto zoom"></a> <a href="portfolio-single.html"></a>
                            <img src="{{ url_for('static', filename='images/content/img220x146-1.jpg') }}" alt=""></div>

                        <div class="proj-info">
                            <h4><a href="#">Ut enim ad minima veniam</a></h4>

                            <p>Et harum quidem rerum facilis est et expedita distinctio ...</p>
                        </div>
                    </div>
                </li>

                <li class="col1-4">
                    <div class="project">
                        <div class="proj-img"><a href="{{ url_for('static', filename='images/content/img220x146-2.jpg') }}" class="prettyPhoto zoom"></a>
                            <a href="portfolio-single.html"></a>
                            <img src="{{ url_for('static', filename='images/content/img220x146-2.jpg') }}" alt=""></div>

                        <div class="proj-info">
                            <h4><a href="#">Consectetur adipisicing elit</a></h4>

                            <p>Et harum quidem rerum facilis est et expedita distinctio ...</p>
                        </div>
                    </div>
                </li>

                <li class="col1-4">
                    <div class="project">
                        <div class="proj-img"><a href="{{ url_for('static', filename='images/content/img220x146-3.jpg') }}" class="prettyPhoto zoom"></a>
                            <a href="portfolio-single.html"></a>
                            <img src="{{ url_for('static', filename='images/content/img220x146-3.jpg') }}" alt=""></div>
                        <div class="proj-info">
                            <h4><a href="#">Vel illum qui dolorem</a></h4>

                            <p>Et harum quidem rerum facilis est et expedita distinctio ...</p>
                        </div>
                    </div>
                </li>

                <li class="col1-4">
                    <div class="project">
                        <div class="proj-img"><a href="images/content/img220x146-4.jpg" class="prettyPhoto zoom"></a>
                            <a href="portfolio-single.html"></a>

                            <img src="{{ url_for('static', filename='images/content/img220x146-4.jpg') }}" alt=""></div>

                        <div class="proj-info">
                            <h4><a href="#">Quis nostrum exercitationem</a></h4>

                            <p>Et harum quidem rerum facilis est et expedita distinctio ...</p>
                        </div>
                    </div>
                </li>

                <li class="col1-4">
                    <div class="project">{{ url_for('static', filename='images/content/img220x146-5.jpg') }}
                        <div class="proj-img"><a href="{{ url_for('static', filename='images/content/img220x146-5.jpg') }}" class="prettyPhoto zoom"></a>
                            <a href="portfolio-single.html"></a>
                            <img src="{{ url_for('static', filename='images/content/img220x146-5.jpg') }}" alt=""></div>

                        <div class="proj-info">
                            <h4><a href="#">Ut enim ad minima veniam</a></h4>

                            <p>Et harum quidem rerum facilis est et expedita distinctio ...</p>
                        </div>
                    </div>
                </li>

                <li class="col1-4">
                    <div class="project">
                        <div class="proj-img"><a href="{{ url_for('static', filename='images/content/img220x146-6.jpg') }}" class="prettyPhoto zoom"></a>
                            <a href="portfolio-single.html"></a>
                            <img src="{{ url_for('static', filename='images/content/img220x146-6.jpg') }}" alt=""></div>

                        <div class="proj-info">
                            <h4><a href="#">Consectetur adipisicing elit</a></h4>

                            <p>Et harum quidem rerum facilis est et expedita distinctio ...</p>
                        </div>
                    </div>
                </li>

                <li class="col1-4">
                    <div class="project">
                        <div class="proj-img"><a href="{{ url_for('static', filename='images/content/img220x146-7.jpg') }}" class="prettyPhoto zoom"></a>
                            <a href="portfolio-single.html"></a>
                            <img src="{{ url_for('static', filename='images/content/img220x146-7.jpg') }}" alt=""></div>

                        <div class="proj-info">
                            <h4><a href="#">Vel illum qui dolorem</a></h4>

                            <p>Et harum quidem rerum facilis est et expedita distinctio ...</p>
                        </div>
                    </div>
                </li>

                <li class="col1-4">
                    <div class="project">
                        <div class="proj-img"><a href="{{ url_for('static', filename='images/content/img220x146-8.jpg') }}" class="prettyPhoto zoom"></a>
                            <a href="portfolio-single.html"></a>
                            <img src="{{ url_for('static', filename='images/content/img220x146-8.jpg') }}" alt=""></div>

                        <div class="proj-info">
                            <h4><a href="#">Quis nostrum exercitationem</a></h4>

                            <p>Et harum quidem rerum facilis est et expedita distinctio ...</p>
                        </div>
                    </div>
                </li>
            </ul>

<!-- TWITTER MODULE -->

			<div class="tweet bottom-50"></div>

<!-- LATEST FROM THE BLOG -->

            <div class="divider-text bottom-50">
                <span>Latest From The Blog<img src="{{ url_for('static', filename='images/dot.gif') }}" alt=""><a href="blog.html">All Posts</a></span>
            </div>

            <ul id="recent-posts" class="inner-960 clearfix">
                <li class="col1-4 bottom-20">
                    <h4><a href="blog-single.html">Ut enim ad minima veniam</a></h4>

                    <p class="bottom-20">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolore ...</p>

                    <div class="post-info clearfix">
                        <p><span>On: <a href="#">21 Jan 2012</a></span> <span>Author: Fireform</span> <span>In: <a href="#">Street Creatures</a></span></p>

                        <div class="comments-more">
                            <span class="comm">03</span> <a href="blog-single.html" class="more"></a>
                        </div>
                    </div>
                </li>

                <li class="col1-4 bottom-20">
                    <h4><a href="blog-single.html">Numquam eius modi tempora</a></h4>

                    <p class="bottom-20">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolore ...</p>

                    <div class="post-info clearfix">
                        <p><span>On: <a href="#">21 Jan 2012</a></span> <span>Author: Fireform</span> <span>In: <a href="#">Street Creatures</a></span></p>

                        <div class="comments-more">
                            <span class="comm">11</span> <a href="blog-single.html" class="more"></a>
                        </div>
                    </div>
                </li>

                <li class="col1-4 bottom-20">
                    <h4><a href="blog-single.html">Vel illum qui dolorem</a></h4>

                    <p class="bottom-20">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolore ...</p>

                    <div class="post-info clearfix">
                        <p><span>On: <a href="#">21 Jan 2012</a></span> <span>Author: Fireform</span> <span>In: <a href="#">Street Creatures</a></span></p>

                        <div class="comments-more">
                            <span class="comm">29</span> <a href="blog-single.html" class="more"></a>
                        </div>
                    </div>
                </li>

                <li class="col1-4 bottom-20">
                    <h4><a href="blog-single.html">Quis nostrum exercitationem ...</a></h4>

                    <p class="bottom-20">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolore ...</p>

                    <div class="post-info clearfix">
                        <p><span>On: <a href="#">21 Jan 2012</a></span> <span>Author: Fireform</span> <span>In: <a href="#">Street Creatures</a></span></p>

                        <div class="comments-more">
                            <span class="comm">17</span> <a href="blog-single.html" class="more"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="open-close clearfix">
            <a href="#"></a>
        </div>
        </div>
{% endblock %}
